header {
    background-color: #1F2937;
    
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 100px;
}

.header_c1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 50px;
    height: 40px;
}

.header_content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}


.header_link {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

.header_link {
    color: #E5E7EB;
}

.header_link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header_link a:hover {
    text-decoration: none;
    color: grey;
}

.header_text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.button h1 {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
    text-align: center;
    height: auto;
}

.button a {
    font-size: 18px;
    color: #F9FAF8;
    text-decoration: none;
}

.header_text p {
    font-size: 18px;
    color: #E5E7EB;
}

.header_text .button {
    display: flex;
    background-color: #3882F6;
    height: 30px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

.header_photo {
    width: 700px;
    height: 300px;
    display: flex;
    margin: auto;
    background-image: url(./images/5.jpeg);
    background-size: cover;
}

.content_1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content_1 .title {
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.content_1 .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}

.content_1 .photos {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.content_1 .text_content {
    font-size: 20px;
    color: #1F2937;
    max-width: 200px;
    text-align: center;
}

.content_2 {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
}

.quote_box {
    margin-left: 150px;
    margin-right: 150px;
}

.blue_box {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    margin-left: 150px;
    margin-right: 150px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.blue_box_content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.footer_text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    color: #E5E7EB;
}

.title_blue_box h1 {
    flex-direction: column;
    margin: 0px;
    color: #E5E7EB;
}

.title_blue_box p {
    margin: 0px;
    color: #E5E7EB;
}

.blue_box_button { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px white solid;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.blue_box_button a {
    color: #E5E7EB ;
    text-decoration: none;
}